.rentanf {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 10vw;
  align-items: center;
  
}
.final {
  color: deeppink;
}
.bota {
  margin: 0px 15px;  
  color: white;
  border: 1px solid snow;
  text-decoration: none;
  padding: 8px;
}

.linha {
  display: flex;
  align-items: center;
}




